{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules" :{
    "indent": [2, 4],
    "no-var": 0,
    "vars-on-top":0,
    "no-console":0,
    "func-names": 0,
    "comma-dangle": [2, "never"],
    "space-before-function-paren": [2, { "anonymous": "never", "named": "never" }]
  }
}
